h1{
	color: red;
	/* background: rgba(220, 205, 38, 0,2); */
}
h1{
	color: red;
	font-size: 60px;
}
p{
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
	text-align: left;
}
h1{
	color: red;
	font-family: Helvetica;
	text-align: center;
}
body{
	background-color: lightpink;
}
 

